*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chillax', sans-serif;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #2286ff;
}

/* Sidebar styling */
.sidebar {
  width: 125px;
  height: 100vh;
  background-color: #ffffff;
  border-right: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  position: fixed;
}

/* Logo */
.logo img {
  width:60px;
  height: 60px;
}

/* Navigation icons */
.nav-icons {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.nav-icons button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.nav-icons img {
  width: 24px;
  height: 24px;
}

/* Clock */
.clock {
  font-size: 14px;
  font-weight: bold;
}
