@import url("https://fonts.cdnfonts.com/css/chillax");
@import url("https://fonts.cdnfonts.com/css/montserrat");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #2286ff;
}

header {
  display: flex;
  align-items: center;
  padding: 25px 100px;
  background: #2286ff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

section {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100px;
  background: #2286ff;
}

header h1 {
  font-family: "chillax", sans-serif;
  color: #fff;
  font-weight: 600;
}

header img {
  width: 25px;
  height: auto;
  margin-right: 15px;
}
.subtitle {
  font-family: "chillax", sans-serif;
}

.text {
  font-family: "montserrat", sans-serif;
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  max-width: 1000px;
  margin: 50px auto;
  padding: 2rem;
  background: #2286ff;
}

.hero .image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  width: auto;
  max-width: 50%;
}

.image img {
  display: block;
  width: 100%;
  height: auto;
}

.heroContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 1rem;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.ctaText {
  font-family: "chillax", sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.4;
  max-width: fit-content;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.cta a{
  display: block;
  width: 180px;
  padding: 5px 0px;
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2em;
  text-decoration: none;
}

.registerBtn {
  background-color: white;
  color: #2286ff;
  border: 2px solid #ffffff;
}

.loginBtn {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.registerBtn:hover {
  background-color: #2286ff;
  color: #fff;
  transition: 0.4s;
  transform: scale(1.1);
}
.loginBtn:hover {
  background-color: #fff;
  color: #2286ff;
  transition: 0.4s;
  transform: scale(1.1);
}
.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("/img/wave.png");
  background-size: 1000px 100px;
  animation: animate 4s ease-in-out infinite;
  animation-delay: calc(var(--delay) * 0.25s);
  z-index: 1001;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  background-position-x: 400px;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  background-position-x: 300px;
}

.wave#wave3 {
  z-index: 998;
  opacity: 0.25;
  background-position-x: 200px;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  background-position-x: 100px;
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
}

.w h2 {
  font-size: 3em;
}

.w {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 5% 5%;
  width: 100%;
  place-items: center;
  background-color: #fff;
}

.wContent {
  display: grid;
  padding: 1rem 2rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
  margin-top: 2%;
}

.text {
  text-align: left;
}

.text h3 {
  color: #2286ff;
  font-size: 1.8rem;
}

.text p {
  color: #777777;
  font-size: 1.2rem;
}

.image {
  display: flex;
  justify-content: center;
}

.image img {
  width: 100%;
  max-width: 250px;
  height: auto;
}

.custom-container {
  position: relative;
  width: 100%;
  height: 85vh;
  background-color: #2286ff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0;
}

.custom-card {
  display: flex;
  flex-direction: row;
  width: 60%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 2;
  position: absolute;
  padding: 20px;
}

.image-side {
  flex: 1;
  padding: 20px;
  align-items: center;
  background-color: #ffffff;
}

.form-side {
  flex: 1;
  padding: 20px;
  background-color: white;
}

.form-heading {
  font-family: "chillax", sans-serif;
  font-weight: 600;
  background-color: #2286ff;
  color: white;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
}

.form-group {
  font-family: "montserrat", sans-serif;
  margin-bottom: 15px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background-color: #2286ff;
  color: white;
  font-size: 16px;
  font-family: "chillax", sans-serif;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.bottom_text {
  color: #2286ff;
  text-align: center;
  cursor: pointer;
}

.disclaimer {
  font-size: 12px;
  color: lightgray;
  font-family: "montserrat", sans-serif;
  text-align: center;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .custom-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    height: auto;
    padding: 0px;
  }

  .custom-card {
    flex-direction: column;
    width: 90%;
    height: auto;
    margin-top: 20px;
    padding: 10px;
  }

  .image-side{
    width: 80%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
  }
  .form-side {
    width: 100%;
    padding: 10px;
    align-items: center;
  }

  .hero_form {
    width: 90%;
    height: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wave {
    display: none;
  }
}

/*choice.html css*/

.choice {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.choice:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.choice img {
  width: 100%;
  max-width: 250px;
  height: auto;
}

.choice a {
  text-decoration: none;
}

h4 {
  font-size: 2.5rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
  font-family: "chillax", sans-serif;
  font-weight: 600;
}

.settings-container{
  font-family: "Montserrat";
    width: 75%;
    padding: 30px;
    border: 2px solid #c1c1c1;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 20px auto;
}

.pfp{
  padding-top: 100px;
}